<form method="post" action="{{ path('back_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ça ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn btn-danger ">Supprimer</button>
</form>
