{% extends 'base.html.twig' %}

{% block title %}Concert'O - Evénements{% endblock %}

{% block body %}

<h1>Liste des événements</h1>

<a class="btn btn-sm btn-success" href="">Ajouter</a>

<table class="table-responsive table-striped table-hover col-12">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Date</th>
            <th>Billetterie</th>
            <th>Image</th>
            <th>Nom informatique</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-end">
                <a class="btn btn-sm btn-primary" href="">Afficher</a>
                <a class="btn btn-sm btn-warning" href="">Editer</a>
            </td>
        </tr>

        <tr>
            <td colspan="9">Aucun enregistrement trouvé</td>
        </tr>

    </tbody>
</table>
{% endblock %}
