{% extends 'base.html.twig' %}

{% block title %}Edition d'événement{% endblock %}

{% block body %}
    <h1>Editer un événement</h1>
    <div class='container'>
        {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
