{% extends 'base.html.twig' %}

{% block title %}Concert'O - Genres{% endblock %}

{% block body %}

<h1>Liste des genres</h1>

<a class="btn btn-sm btn-success" href="">Ajouter</a>

<table class="table">

    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-sm btn-primary" href="">Afficher</a>
                <a class="btn btn-sm btn-warning" href="">Editer</a>
            </td>
        </tr>

        <tr>
            <td colspan="4">Aucun enregistrement trouvé</td>
        </tr>

    </tbody>
</table>
{% endblock %}
