{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <h1>Edit Genre</h1>
    <div class='container'>
    {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}
    <a class="btn btn btn-warning" href="{{ path('back_genre_index') }}">Revenir à la liste</a>
    </div>
{% endblock %}
