{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>
    <h1>Bienvenue dans le Back-Office de Concert'O</h1>
    <h3>Vous êtes connecté en tant que  {{ app.user.bestRole }} ({{ app.user.username }})</h3>

</div>
{% endblock %}
