h1 {
    text-align: center;
}

.wrap-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

.buttons {
    margin-right: 1em;
    margin-bottom: auto;
}

body {
    background-color: rgba(163, 156, 146, 0.178);
}
