{% extends 'base.html.twig' %}

{% block title %}Ajout d'une région{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter une région</h1>
    {{ include('region/_form.html.twig') }}
</div>
{% endblock %}
