{% extends 'base.html.twig' %}

{% block title %}Edition d'une région{% endblock %}

{% block body %}
    <h1>Editer une région</h1>
    <div class='container'>
        {{ include('region/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
{% endblock %}
